*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Prompt', sans-serif;

}

.Navegacion_General{
    background: #112e40;
}
.Navegacion_General a{
    position: relative;
    display: inline-block;
    color: #C8D3D7;
    text-decoration: none;
    padding: 1px;
    margin-bottom: 5px;
    width: 150px;
    justify-content: space-between;

}

.Navegacion_General a:hover{
    background-color: #c8d4d7;
    border-top: 1px solid #c8d4d7;
}

.Galeria_Ind{
    display: flex;
    width: 600px;
    height: 100%;
}

.Galeria_Ind img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.Galeria_Ind img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

section{
    background: #025949;
}
article{
    background-color: #C8D3D7;
}
.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.container h2{
    text-align: center;
}
.iconos{
    text-align: center;
    padding: 30px;
}
.tarjeta1{
    background-color: #112e40;
}
.tarjeta2{
    background-color: #1b7c5f;
}
#contacto{
    background-color: #112e40;
}

footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
}

.footer-logo img {
    max-width: 100px; 
}

.footer-contact, .footer-links {
    flex: 1; 
    margin: 0 20px; 
}

.footer-links ul {
    list-style: none; 
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px; 
}
.imagenes_contenedor{
}

.imagenes_contenedor a img{
    position: relative;
    display: inline-block;
    color: #C8D3D7;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 1px;
    margin-bottom: 5px;
    width: 150px;
}


.imagenes_contenedor li{
    width: 2000px;
  height: 200px;
background-color: #C8D3D7;
  display: grid;
  grid-template-rows: repeat(3, 50%);
  grid-template-columns: repeat(2, 50%);
  gap: 8px;
}
